@{
    ViewData["Title"] = "About | DotWeather";
}

<div id="about-page">
    <h2>About</h2>

    <br>

    <p>
        Hi! Thanks for coming up by.
        <br><br><br>
        I made this project for learning purpose and I learned so much about ASP.NET.
        <br><br><br>
        This project is made possible thanks to <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a> for providing
        weather API data that can respond up to 1000 free calls. (Not sponsored).
    </p>
</div>
