<div id="location-page">
    <div class="input-group mb-3">
        <span class="input-group-text bg-dark"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" id="location-input" class="form-control" placeholder="Enter your location" onkeypress="locationEnter(event)">
    </div>
</div>