* {
  font-family: Manrope;
  color: #F5F5F5;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}

body {
  background-color: black;
  background-image: linear-gradient(#424242, #000000);
  margin-top: 100px;
}

a, .nav-link {
  color: #C0C0C0;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, .nav-link:hover {
  color: #A5A5A5;
  transition: 0.5s;
}

footer {
  padding: 2em;
  text-align: center;
}

#location-page {
  padding: 8em;
}

#left-side {
  background-color: #212121;
  position: fixed;
  width: 300px;
  height: 100%;
}

#sidebar-close-button {
  background-color: #212121;
  text-align: start;
  width: 100%;
  border: none;
  padding: 8px;
  transition: 0.5s;
}

#sidebar-close-button:hover {
  background-color: #101010;
  transition: 0.5s;
}

#right-side {
  width: 100%;
}

#weather {
  text-align: center;
}

#region-label {
  background-color: #424242;
  min-width: 200px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 16px;
  border: 2px solid #616161;
  border-radius: 25px;
}

#temp {
  height: auto;
  margin: 2em 0 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#detail {
  margin-top: 2em;
}

#detail-label {
  background-color: #424242;
  min-width: 200px;
  height: fit-content;
  margin: 2em;
  padding: 16px;
  border: 2px solid #616161;
  border-radius: 25px;
}

#detail-label p {
  color: #9E9E9E;
}

#about-page {
  padding: 8em;
  text-align: center;
}

.navbar {
  background-color: #212121;
  width: 100%;
  position: fixed;
  top: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope-Regular.ttf");
}